<div class="panel panel-primary">
	<div class="panel-heading"  ng-click="collapse()">
	<span state-display="droid.level droid-ok droid-warning droid-problem droid-error"> {{droid.name}}</span> </div>
	<div class="panel-body" ng-hide="collapsed">
		
		<h4>Specifications</h4>

		<ul>
			<li>{{droid.specifications.manufacturer}}</li>
			<li>{{droid.specifications.type}}</li>
			<li>{{droid.specifications.productLine}}</li>

		</ul>
		
		<button ng-click="nextState()" class="btn btn-primary"> Next state</button>
	</div>

</div>